name: mrd
channels:
  - ismrmrd
  - conda-forge
dependencies:
  - python=3.12
  - ismrmrd::ismrmrd-python=1.14.2
  - libxml2=2.15.1       # For ismrmrd
  - h5py=3.15.1           # For ismrmrd
  - matplotlib=3.10.8     # used by rgb.py and provides various visualization tools including colormaps
  - pydicom=3.0.1              # used by dicom2mrd.py to parse DICOM data
  - numpy=2.3.4
  - dos2unix=7.5.3    # For fixing line ending issues from Windows
  - rtoml=0.13.0       # For parsing TOML configuration files
  - cupy=13.6.0
  - sigpy=0.1.27      

